# Blockchain / Networks
RPC_URL=https://rpc-amoy.polygon.technology
PRIVATE_KEY=0x...

# Deployed Contracts
CONTRACT_ADDRESS=
ROLE_MANAGER_ADDRESS=
MARKETPLACE_ADDRESS=

# Backend
PORT=5055
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=hydrocred
AES_KEY=change_me_32_chars_minimum_length
JWT_SECRET=dev_jwt_secret
RELAYER_PRIVATE_KEY=0x...
CERTIFIER_PRIVATE_KEY=0x...

# Frontend
VITE_RPC_URL=${RPC_URL}
VITE_CONTRACT_ADDRESS=${CONTRACT_ADDRESS}